#editor {
	width: 0%;
}

#parametersdiv {
	bottom: 4em;
}

#filedropzone {
	display: none;
}

#color-simpliier * {
	all: unset;
}

#color-simplifier {
	all: unset;
	position: absolute;
	z-index: 99999;
	padding: 1em;
	top:    0;
	right:  0;
	background-color: white;
	overflow: auto;
	min-width: 18em;
}

#color-simplifier select,
#color-simplifier input,
#color-simplifier button {
	clear: both;
	margin-top: 1em;
	display: block;
}

#color-simplifier #file-upload {
	margin-bottom: 1em;
}

#color-simplifier canvas {
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#color-simplifier #canvas-div {
	position: relative;
	display: inline-block;
	line-height: 0;
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKElEQVQYV2N8+PDhfwY0ICcnhy7EwDgUFP7//x/DM48ePcL0zBBQCADYKDUhkuGTogAAAABJRU5ErkJggg==
    ) repeat;
}

#color-simplifier #original-canvas,
#color-simplifier #fake-div {
	display: inline-block;
	float: left;
}

#color-simplifier #original-canvas {
	cursor: crosshair;
}

#color-simplifier #fake-div:before {
	position: absolute;
	display: inline-block;
	content: '';
	float: left;
	height: 100%;
	width: 1em;
	background-color: white;
	cursor: auto;
}

#color-simplifier #simplified-canvas {
	margin-left: 1em;
	cursor: crosshair;
}

#color-simplifier #selected-color,
#color-simplifier #current-color-rgba {
	clear: both;
	display: block;
}

#color-simplifier #saved-color-list {
    counter-reset: rowNumber;
}

#color-simplifier .saved-color:before {
	counter-increment: rowNumber;
	content: counter(rowNumber);
}

#color-simplifier .saved-color {
    height: 1.5em;
    border: 1px solid red;
}

#color-simplifier #saved-color-list tr td {
	margin: 0.5em;
}

#color-simplifier .color-swatch {
    display: inline-block;
    width: 3em;
    height: 1em;
    border: 1px solid black;
}

#color-simplifier .remove {
	margin-left: 1em;
}

#color-simplifier .clearfix:before,
#color-simplifier .clearfix:after {
  content: "";
  display: table;
}

#color-simplifier .clearfix:after {
  clear: both;
}

#color-simplifier .clearfix {
  zoom: 1; /* ie 6/7 */
}
